version: '3.9'

services:
  server:
    image: node:18
    volumes:
      - ./:/code
    working_dir: /code/server
    command: npm start
    ports:
      - '8000:8000'
    environment:
      - NODE_ENV=dev
      - LOKI_URL=https://${LOKI_HOST}
      - LOKI_APP_LABEL=${LOKI_APP_LABEL} 
      - LOKI_USER=${LOKI_USER}
      - LOKI_KEY=${LOKI_KEY}

  mongodb:
    ports:
      - '27017:27017'

  client:
    container_name: hhahaiti_client
    depends_on:
      - logger
    image: node:18
    volumes:
      - ./:/code
    working_dir: /code/client
    command: npm start
    ports:
      - '3000:3000'
    logging:
      driver: fluentd

  logger:
    environment:
      LOKI_HOST: ${LOKI_HOST} # ADD YOUR HOST
      LOKI_USER: ${LOKI_USER} # ADD YOUR USERNAME
      LOKI_KEY: ${LOKI_KEY} # ADD YOUR PASSWORD
      PROMETHEUS_HOST: ${PROMETHEUS_HOST} # ADD YOUR HOST
      PROMETHEUS_USER: ${PROMETHEUS_USER} # ADD YOUR USERNAME
      PROMETHEUS_KEY: ${PROMETHEUS_KEY} # ADD YOUR PASSWORD

    command: ['fluent-bit', '-c', '/fluent-bit/etc/fluent-development.conf']
