# Used for deployment to a server where we are getting images from Docker Hub
# Overlay ontop of base config with:
#    $ export IMAGE_TEST="v2022-05-20.ABCD1234"
#    $ docker compose -f docker-compose.yml -f docker-compose.deploy.yml up -d
# Set IMAGE_TAG to the image desired, such as:
#     dev
#     staging
#     vYYYY-MM-DD.SHA
version: '3.9'

services:
  server:
    image: drbfraser/hhahaiti_backend:$IMAGE_TAG
    build:
      context: .
      dockerfile: server/Dockerfile
    restart: always
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - CORS=${CORS}
      - PASSWORD_SEED=${PASSWORD_SEED}
      - LOKI_URL=https://${LOKI_HOST}
      - LOKI_APP_LABEL=${LOKI_APP_LABEL} 
      - LOKI_USER=${LOKI_USER}
      - LOKI_KEY=${LOKI_KEY}

  mongodb:
    restart: always

  caddy:
    image: drbfraser/hhahaiti_revproxy_frontend:$IMAGE_TAG
    container_name: hhahaiti_caddy
    build:
      context: .
      dockerfile: caddy/Dockerfile
    restart: always
    environment:
      - DOMAIN=${DOMAIN}
      - API_HOSTNAME=hhahaiti_server
    ports:
      - '80:80'
      - '443:443'
      - '2019:2019'
    logging:
      driver: fluentd
      options:
        tag: docker.{{.Name}}.{{.ID}}
    depends_on:
      - logger
    volumes:
      - caddy_log:/var/log

  logger:
    volumes:
      - caddy_log:/logs/caddy:ro
    environment:
      LOKI_HOST: ${LOKI_HOST} # ADD YOUR HOST
      LOKI_USER: ${LOKI_USER} # ADD YOUR USERNAME
      LOKI_KEY: ${LOKI_KEY} # ADD YOUR PASSWORD
      PROMETHEUS_HOST: ${PROMETHEUS_HOST} # ADD YOUR HOST
      PROMETHEUS_USER: ${PROMETHEUS_USER} # ADD YOUR USERNAME
      PROMETHEUS_KEY: ${PROMETHEUS_KEY} # ADD YOUR PASSWORD

      # Used in staging/prod environment, for AWS CloudWatch logging
      AWS_LOGGING_REGION: ${AWS_LOGGING_REGION}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
    command: ['fluent-bit', '-c', '/fluent-bit/etc/fluent-${ENV:-local}.conf']

volumes:
  caddy_log:
