.case-study-form .container {
    position: absolute;
    left: 200px;
    width: calc(100% - 200px)
    /* margin-left: 200px; */
}

/*Margin by pixel:*/
@media screen and ( max-width: 700px ){
    .case-study-form .container{
        /*margin-left: 70px;*/
        position: absolute;
        left: 70px;
        width: calc(100% - 70px)
    }
}