.form-check-input {
  margin-left: 0;
  position: static;
}

.form-control.w-fit {
  max-width: fit-content;
}

.form-field {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-field label.form-label {
  margin-bottom: 0;
}

.sub-question {
  padding-left: 35px;
}
