@media (min-width: 600px) {
  .department-report .container {
    width: 50%
  }
}

.entry.simple-entry {
  background-color: #e7f1ff;
  color: #0c63e4;

  border-radius: 0.25rem;
  margin: 0 0.05rem;
}

ul {
  list-style-type: none;
}
