.title-info {
  margin: 0;
  font-size: large;
}

.department-info {
  font-size: small;
}

.message-body {
  font-size: medium;
}

.admin-utils {
  font-size: small;
  border: 0;
  padding-left: 0;
}