.add_message .main_container {
  margin-left: 200px;
}

/*Margin by pixel:*/
@media screen and (max-width: 700px) {
  .add_message .main_container {
    margin-left: 70px;
  }
}

.message-form .btn {
  width: auto;
}

.add-msg-back-btn {
  margin-top: 1em;
}
