.employee-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-subcontainer {
  height: 100%;
  width: 80%;
}

.top-description {
  display: flex;
  flex-direction: row;
}

.employee-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.employee-image-container {
  height: 350px;
  width: 100%;
  margin-bottom: 1.5em;
}

@media screen and (max-width: 700px) {
  .top-description {
    flex-direction: column;
  }
}
