.broken-kit-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.broken-kit-subcontainer {
  height: 100%;
  width: 80%;
}

.broken-kit-image {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.broken-kit-image-container {
  height: 600px;
  width: 100%;
}

.broken-kit-main .main-region {
  position: absolute;
  left: 200px;
  width: calc(100% - 200px);
}

/*Margin by pixel:*/
@media screen and (max-width: 700px) {
  .broken-kit-main .main-region {
    position: absolute;
    left: 70px;
    width: calc(100% - 70px);
  }
}
