:root {
  --main-bg-color: linear-gradient(#04181F 50%, #D1D2A5, transparent);
}

.app {
  margin: 0rem;
  padding: 0rem 0rem;

  background: var(--main-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
}


/* Grid Styling */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.grid {
  display: grid;
  grid-template-columns: var(--grid-cols);
  column-gap: 2rem;
}

.grid-item {
  align-self: var(--griditem-alignself);
  justify-self: var(--griditem-justifyself);
}

/* Grid Styling */
/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */

.btn {

  /* align-self: center; */
}

.goto-admin-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  color: #309DCB;

  background-color: rgba(208, 246, 249, 0.25);
  border: 0px;
  border-radius: 10px;
}

.signout-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  color: white;

  background-color: transparent;
  border: 0;
}

.goto-leaderboard-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 50px;
  color: #309DCB;

  border: 0;
  background-color: transparent;
}

.message-board {
  background-image:
    url('../img/background/messageBoardBackground.png');
  
  width:100%;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;

  padding: 1rem 2rem;
}

.msg {
  margin: 1rem 0;
}

.leader-bar {
  padding: 1rem 0.5rem;
  margin: 1rem 0;

  background: rgba(208, 246, 249, 0.25);
  
  border-radius: 10px;
}