.leader-board-main .container-fluid {
    /* margin-left: 200px; */
    position: absolute;
    left: 200px;
    width: calc(100% - 200px)
}

/*Margin by pixel:*/
@media screen and ( max-width: 700px ){
    .leader-board-main .container-fluid {
        /* margin-left: 70px; */
        position: absolute;
        left: 70px;
        width: calc(100% - 70px)
    }
}

.EOM_img {
    width: 90%;
    /*border: 3px solid wheat;*/
    /*border-radius: 5px;*/
}