.edit-message {
  margin-left: 200px;
}

/*Margin by pixel:*/
@media screen and (max-width: 700px) {
  .edit-message .container {
    margin-left: 70px;
  }
}

.edit-msg-back-btn {
  margin-top: 1em;
}