.main.main-region {
  position: absolute;
  left: 88px;
  width: calc(100% - 88px);
  transition: width 0.5s, left 0.5s;
}

.main.main-region.expanded {
  left: 275px;
  width: calc(100% - 275px);
}

.errorMsg {
  color: red;
}
