.main.main-region {
  position: absolute;
  left: 70px;
  width: calc(100% - 70px);
  transition: width 0.5s, left 0.5s;
}

@media screen and (min-width: 769px) {
  .main.main-region.expanded {
    left: 245px;
    width: calc(100% - 245px);
  }  
}

.errorMsg {
  color: red;
}