.wrapper { width: 100%}

.Sidebar {
    /*width: 200px;*/
    /*width: 100%;*/
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    /*justify-content: center;*/
    /*transition: 850ms;*/
    margin-right: 90%;
}

.nav > li > a:hover, .nav > li > a:focus {
    /*background-color: #EF92A5;*/
    background-color: #687d8f;
    text-decoration: none;
}

@media only screen and (max-width: 800px) {
    .text {
        display: none;
    }
    .sidebar_logo {
        display: none;
    }
    .Sidebar {
        width: 70px;
        height: 100vh;
        display: flex;
        position: fixed;
    }
}

/*.Sidebar.active {*/
/*    left: 0;*/
/*    transition: 350ms;*/
/*}*/

/*.navbar-nav > .active > a {*/
/*    background-color: red ;*/
/*}*/
/*.currentLink {*/
/*    color: #640200;*/
/*    background-color: #000000;*/
/*}*/

/*.nav-text {*/
/*    color: #2F4050;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/
/*    padding: 8px 0px 8px 16px;*/
/*    list-style: none;*/
/*    height: 60px;*/
/*}*/

/*.nav-text a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    width: 95%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0 16px;*/
/*    border-radius: 4px;*/
/*}*/