.wrapper {
  width: 100%;
}

.Sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.nav > li > a:hover,
.nav > li > a:focus {
  /*background-color: #EF92A5;*/
  background-color: #687d8f;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .text {
    display: none;
  }
  .sidebar_logo {
    display: none;
  }
  .Sidebar {
    width: 70px;
    height: 100vh;
    display: flex;
    position: fixed;
    justify-content: flex-start;
  }
}

/*.Sidebar.active {*/
/*    left: 0;*/
/*    transition: 350ms;*/
/*}*/

/*.navbar-nav > .active > a {*/
/*    background-color: red ;*/
/*}*/
/*.currentLink {*/
/*    color: #640200;*/
/*    background-color: #000000;*/
/*}*/

/*.nav-text {*/
/*    color: #2F4050;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/
/*    padding: 8px 0px 8px 16px;*/
/*    list-style: none;*/
/*    height: 60px;*/
/*}*/

/*.nav-text a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    width: 95%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0 16px;*/
/*    border-radius: 4px;*/
/*}*/
