.Sidebar {
    width: 200px;
    height: 100vh;
    display: flex;
    /*justify-content: center;*/
    position: fixed;
    /*background-color: black;*/
    top: 0;
    left: 0;
    /*transition: 850ms;*/
}

.SidebarList {
    height: 100%;
    width: 100%;
    background-color: #202020;
    /*padding-left: 1rem;*/
}

.nav > li > a:hover, .nav > li > a:focus {
    /*background-color: #EF92A5;*/
    background-color: #2F4050;
    text-decoration: none;
}

/*.Sidebar.active {*/
/*    left: 0;*/
/*    transition: 350ms;*/
/*}*/

/*.navbar-nav > .active > a {*/
/*    background-color: red ;*/
/*}*/
/*.currentLink {*/
/*    color: #640200;*/
/*    background-color: #000000;*/
/*}*/

/*.nav-text {*/
/*    color: #2F4050;*/
/*    display: flex;*/
/*    justify-content: start;*/
/*    align-items: center;*/
/*    padding: 8px 0px 8px 16px;*/
/*    list-style: none;*/
/*    height: 60px;*/
/*}*/

/*.nav-text a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    font-size: 18px;*/
/*    width: 95%;*/
/*    height: 100%;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    padding: 0 16px;*/
/*    border-radius: 4px;*/
/*}*/